rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isCurrentUser(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isCurrentUser(userId);
      allow update: if isCurrentUser(userId);
      allow delete: if false;
    }

    match /workspaces/{workspaceId} {
      allow read, write: if isSignedIn();
    }

    match /workspaceMembers/{memberId} {
      allow read, write: if isSignedIn();
    }

    match /workspaceInvitations/{invitationId} {
      allow read, write: if isSignedIn();
    }

    match /projects/{projectId} {
      allow read, write: if isSignedIn();
    }

    match /tasks/{taskId} {
      allow read, write: if isSignedIn();
    }

    match /clients/{clientId} {
      allow read, write: if isSignedIn();
    }

    match /taskStatuses/{statusId} {
      allow read, write: if isSignedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }

   
  }
}